<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>page.size</param-name>
        <param-value>5</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>edu.acc.j2ee.hubbubjpa.StartupListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>edu.acc.j2ee.hubbubjpa.FrontController</servlet-class>
        <init-param>
            <param-name>action.default</param-name>
            <param-value>guest</param-value>
        </init-param>
        <init-param>
            <param-name>redirect.tag</param-name>
            <param-value>redirect:</param-value>
        </init-param>
        <init-param>
            <param-name>view.dir</param-name>
            <param-value>/WEB-INF/views/</param-value>
        </init-param>
        <init-param>
            <param-name>view.type</param-name>
            <param-value>.jsp</param-value>
        </init-param>
        <multipart-config>
            <max-file-size>200000</max-file-size>
        </multipart-config>        
    </servlet>
    <servlet>
        <servlet-name>AvatarController</servlet-name>
        <servlet-class>edu.acc.j2ee.hubbubjpa.AvatarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvatarController</servlet-name>
        <url-pattern>/avatar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>
</web-app>
